.modal-wrapper {
  display: none;
}

.modal-active .modal-wrapper {
  display: block;
  padding: 30px;
  position: absolute;
  width: 80%;
  max-width: 400px;
  opacity: 1;
  animation: slide 0.5s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 10;
}

@keyframes slide {
  0% {
    margin-top: 200px;
    opacity: 0;
  }

  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

.modal-active .modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 2;
}

.modal-button {
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;
  background: none;
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 2px;
  transition: all 0.5s ease;
  font-weight: 600;
  font-size: 14px;
  height: 60px;
  width: 110px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 0px;
  box-shadow: -15px 0 70px -15px #cccccc, 15px 0 70px -15px #cccccc;
}

.close-button {
  background-color: white;
  color: black;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  transition: all 0.5s ease;
}

.modal-button:hover,
.close-button:hover {
  background-color: black;
  color: #ffffff;
}

.modal-wrapper a:hover {
  border-bottom: 0;
}

.modal-wrapper a:hover::after {
  border-bottom: 0.125em solid black;
  content: "";
  left: 0;
  margin-top: calc(0.08em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}
